
/* For debugging purposes */
*{
    border: 1px solid red !important;
}

*{
    font-family: 'Trocchi', serif;
}

body{
    background-color: black;
    background-size: 150%;
    color: white;
}

.toggler{
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-right: 0 !important;
}

.col-xs-2{
    padding-right: 0;
    min-width: 80px;
    max-width: 80px;
    display: none;
}

.def{
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: x-large;
}

.art{
    width: auto;
    height: auto;
    max-height: 85vh;
    max-width: 85vh;

    horiz-align: center;

    vertical-align: middle;
    margin: auto;
    display: block;
    margin-bottom: 3% !important;
    padding: 4px;

    background-color: black;
}



#content{
    margin-top: 1%;
}


#popup{
    width:200px;
    padding: 3%;

    vertical-align: middle;
    margin: auto;
    display: block;
}

#word{
    margin: 5px;
}

#defn{
    margin: 5px;
}

#header{
    padding: 2px;
    min-height: 49px;
    width: 100%;
}

#icons{
    min-width: 100px;
    max-width: 100px;
}

#toggleFnt{
    float: right;
}

.col-md-2{
    float: right;
}
