
/* For debugging purposes */
/**{*/
    /*border: 1px solid red !important;*/
/*}*/



*{
    font-family: 'Trocchi', serif;
}

body{
    background-color: black;
    background-size: 150%;
    color: white;
}


/* Event toggling images */
.toggler{
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-right: 0 !important;
}

/* Links to image sources */
.col-xs-2{
    padding-right: 0;
    min-width: 80px;
    max-width: 80px;
    display: none;
}

.def{
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 12%;
    margin-right: 12%;
    font-size: x-large;
}

.art{
    width: auto;
    height: auto;
    max-height: 85vh;
    max-width: 85vh;

    object-fit: contain;

    vertical-align: middle;
    margin: auto;
    display: block;
    margin-bottom: 3% !important;
    padding: 4px;
}

@media(min-width: 992px){
    .art{
        background-color: black;
    }
}




#content{
    margin-top: 1%;
}

#popup{
    width:200px;
    padding: 3%;

    vertical-align: middle;
    margin: auto;
    display: block;
}

#word{
    margin: 5px;
}

#defn{
    margin: 5px;
}

#icons{
    min-width: 100px;
    max-width: 100px;
}

#toggleFnt{
    float: right;
}
