
/* For debugging purposes */
/**{*/
    /*border: 1px solid red !important;*/
/*}*/

*{
    font-family: 'Trocchi', serif;
}

body{
    background-color: black;
    color: #E6E1E1;

}
h4{
    /*color: darkslategray;*/
}

.toggler{
    width: 30px;
    height: 30px;
    margin: 2px;
    margin-right: 0 !important;
}

.col-xs-2{
    padding-right: 0;
    min-width: 80px;
    max-width: 80px;
    display: none;
}

.def{
    margin-top: 20%;
    margin-bottom: 30%;
    margin-left: 12%;
    margin-right: 12%;

    font-size: x-large;
}

.art{
    width: auto;
    height: auto;
    max-height: 85vh;
    max-width: 85vh;
    vertical-align: middle;

    margin: auto;
    display: block;
    margin-bottom: 3% !important;

    padding: 4px;
    background-color: black;
}

#popup{
    width:200px;
    padding: 3%;
    vertical-align: middle;
    margin: auto;
    display: block;
}

#word{
    margin: 5px;
}

#defn{
    margin: 5px;
}

#header{
    padding: 2px;
}

#icons{
    min-width: 100px;
    max-width: 100px;
}




/*#earthLink{*/
    /*margin-left: 80px;*/
    /*position: fixed;*/
/*}*/

/*#artLink{*/
    /*margin-left: 150px;*/
    /*poxition: fixed;*/
/*}*/